@import 'src/colourScheme';

.projects {
    position: relative;
    background-color: $colourFour;
    padding: 20px 20px 60px 20px;
    margin: 0 10px 0 10px;
}

.projects h1 {
    color: $colourFive;
}

