@import "src/colourScheme";
.workExperience {
    position: relative;
    background-color: $colourTwo;
    padding: 20px 20px 60px 20px;
    margin: 0 10px 0 10px;
}

.workExperience h1 {
    color: $colourThree;
}

.workExperience h3 {
    color: $colourOne;
}

.workExperience p {
    color: $colourFour;
}

.roleCard {
    margin-top: 40px;
}

.workExperience .roleDetails {
    color: $colourThree;
}
