@import "src/colourScheme";

.otherCertifications {
    position: relative;
    background-color: $colourOne
;
    border-left: $colourOne solid 20vw;
    padding: 20px;
    margin: 30px 0 30px 0;
    right: 25%;
}

.otherCertifications h2 {
    color: $colourFour;
}

.otherCertifications p {
    color: $colourTwo;
}

@media only screen and (max-width: 450px) {
    .otherCertifications {
        position: static;
        border: 0;
        padding: 20px;
        margin: 30px 0 30px 0;
        right: 0;
    }
}
