//$colourOne: #393939; // Dark Grey
//$colourTwo: #808080; // Medium Grey
//$colourThree: #E6E6E6; // Off white
//$colourFour: #483D8B; // Purple
//$colourFive: #33827F; // Teal

$colourOne: #011936;
$colourTwo: #055E9E;
$colourThree: #32CBFF;
$colourFour: #fff8ee;
$colourFive: #FFA737;
$colourSix: #89043D;
